@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.navbar {
    padding: 0.8rem;
    background-color: #0C3C60;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.container-fluid {
    font-size: 1.2rem;
    color: white;
}

.container-info {
    display: flex;
}

.container-padding {
    padding: 0.5rem;
    color: white;
}

.box {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 16rem;
    padding: 3rem;
    background-color: white;
    color: #0C3C60;
}

.box h5 {
    font-weight: lighter;
    text-align: center;
    color: black;
}

.intro {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.intro h4 {
    font-weight: lighter;
    font-size: 2.5rem;
}

.intro p {
    font-size: 1.2rem;
    margin: 1rem 0 0 1rem;
}

.container {
    display: flex;
    margin-top: -14rem;
}

.card {
    width: 25rem;
    padding: 2rem;
}

.card-title {
    text-align: center;
    font-weight: lighter;
    color: #0C3C60;
}

.card-title {
    text-align: center;
}

.display-4 {
    font-weight: lighter;
    color: #0C3C60;
}

.jumbotron {
    background-color: #76788A;
}

.jumbotron-padding {
    padding: 2rem 18rem;
}

.btn {
    border-radius: 0;
    padding: 1rem;
    width: 15rem;
}

.btn-width {
    width: 10rem;
}

.btn-secondary {
    color: #fff;
    background-color: #0C3C60;
    border-color: #0C3C60;
}

.btn-outline-secondary {
    color: #0C3C60;
    background-color: transparent;
    background-image: none;
    border-color: #0C3C60;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.fa-facebook {
    color: #1877f2;
    font-size: 2em;
}
.fa-phone-square {
    font-size: 2em;
    margin-right: 10px;
}


.fa-facebook:hover {
    color: #d5d5d5;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

footer a {
    color: #d5d5d5;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
